{% extends "base.html" %}
{% block content %}
<div>
  {{ macros.m_button_group([['global_setting_save_btn', '저장'], ['global_one_execute_btn', '1회 실행']]) }}
  <hr>
  <form id='setting'>
    <div class="tab-content">
      {{ macros.setting_input_text('4khd_url', '사이트 주소', value=arg['4khd_url']) }}
      {{ macros.setting_input_text('download_path', '다운로드 경로', value=arg['download_path']) }}
      {{ macros.setting_checkbox('proxy_enabled', '이미지 프록시 사용', value=arg['proxy_enabled']) }}
    </div>
  </form>
</div>

<script type="text/javascript">
const package_name = "{{ arg['package_name'] }}";

$(document).ready(function(){
    // 보수적인 이벤트 바인딩 (델리게이션)
    $(document).on('click', '#global_setting_save_btn', function(e){
        e.preventDefault();
        console.log("Save button clicked");
        
        let formData;
        try {
            formData = get_formdata('#setting');
        } catch (e) {
            formData = $('#setting').serialize();
        }
        
        $.ajax({
            url: '/' + package_name + '/ajax/setting_save',
            type: "POST",
            data: formData,
            success: function (data) {
                if (data) {
                    $.notify('<strong>저장하였습니다.</strong>', {type: 'success'});
                } else {
                    $.notify('<strong>저장 실패</strong>', {type: 'warning'});
                }
            },
            error: function(err) {
                $.notify('<strong>서버 통신 에러</strong>', {type: 'danger'});
            }
        });
    });
});
</script>
{% endblock %}
